.header {
	font-size: 30px;
	text-align: center;
	margin: 30px 10px;
}

.spinner {
	position: absolute;
	top: 40%;
	left: 50%;
	translate: -50%;
	width: 50px;
	height: 50px;
	animation: rotate 2s linear infinite;
	color: #ccc;

	&__path {
		animation: dash 1.5s ease-in-out infinite;
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}
